*~
__pycache__/
env/
*/build/
*.egg-info/
*.parquet
templates/values/version.jsonnet
graphit-base/graphit/base_version.py
graphit-cli/graphit/cli_version.py
graphit-bedrock/graphit/bedrock_version.py
graphit-embeddings-hf/graphit/embeddings_hf_version.py
graphit-flow/graphit/flow_version.py
graphit-ocr/graphit/ocr_version.py
graphit-parquet/graphit/parquet_version.py
graphit-vertexai/graphit/vertexai_version.py
graphit-unstructured/graphit/unstructured_version.py
graphit-mcp/graphit/mcp_version.py
graphit/graphit/graphit_version.py
vertexai/
venv/
.venv/
.env
